* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1700px;
  margin: auto;
  padding: 30px;
}

.pins-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 28px;
}
